/* General */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
:root {
  --background-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto Condensed;
  font-size: 0.6 rem;
  font-weight: 300;
  color: #3f3f3f;
  line-height: 3.5rem;
}
table{
  font-family: Roboto Condensed;
  color: #2f2f2f;
}

h1{
  font-size: 3rem;
}

/* Icons */
.fa-google{
  color: #f1b500;
}
.fa-bootstrap{
  color: #533b78;
}
.fa-react{
  color: #5ed3f3;
}
.fa-github {
  color:#49A5FF;
}
.fa-github:hover{
  cursor: pointer;
}
.fa-codepen {
  color: black;
}
.fa-codepen:hover {
  cursor: pointer;
}
.fa-linkedin {
  color: #0073b1;
}
.fa-linkedin {
  cursor: pointer;
}
.fa-html5 {
  color: #e44d26;
}
.fa-css3 {
  color:#2965f1;
}
.fa-js {
  color: #fbde34;
}
.fa-trello{
  color: #0084d1;
}
.fa-stack-overflow {
  color: #f58025;
}
.fa-book {
  color: #b11d21;
}
.fa-slack {
  color: #d91d57;
}
.fa-whatsapp {
  color: #1ad03f;
}
.fa-telegram {
  color: #2da1d3;
}
.fa-facebook {
  color: #1873eb;
}
.fa-facebook:hover {
  cursor: pointer;
}
.fa-twitter {
  color: #00a7e6;
}
.fa-twitter {
  cursor: pointer;
}
.fa-instagram {
  color: #c5386b;
}
.fa-instagram:hover {
  cursor: pointer;
}
.fa-youtube {
  color: #f60000;
}
.fa-youtube:hover {
  cursor: pointer;
}
.fa-tiktok:hover{
  cursor: pointer;
}
.fa-code{
  color: #50a8ba;
}
.fa-code:hover{
  cursor: pointer;
}
.fa-figma {
  color: #f76e5f;
}
.fa-figma:hover {
  cursor: pointer;
}
.fa-times-circle{
  display: none;
  color: red;
}
.fa-times-circle:hover{
  cursor: pointer;
}
.fa-user-clock{
  color: navy;
  border-radius: 50%;
  box-shadow: 10px 10px 14px 28px rgba(248,248,248,1);
}
@media(max-width:640px){
  .fa-user-clock{
    box-shadow: 10px 10px 7px 14px rgba(248,248,248,1);
  }
}
.fa-user-astronaut{
  color: orange;
  border-radius: 50%;
  box-shadow: 10px 10px 14px 28px rgba(248,248,248,1);
  display: none;
}
@media(max-width:640px){
  .fa-user-astronaut{
    box-shadow: 10px 10px 7px 14px rgba(248,248,248,1);
  }
}
.fa-smile{
  color: gold;
  border-radius: 50%;
  box-shadow: 10px 10px 14px 28px rgba(248,248,248,1);
  display: none;
}
@media(max-width:640px){
  .fa-smile{
    box-shadow: 10px 10px 7px 14px rgba(248,248,248,1);
  }
}
.fa-meh{
  color: darkseagreen;
  border-radius: 50%;
  box-shadow: 10px 10px 14px 28px rgba(248,248,248,1);
  display: none;
}
@media(max-width:640px){
  .fa-meh{
    box-shadow: 10px 10px 7px 14px rgba(248,248,248,1);
  }
}
.fa-poo{
  color: darkgoldenrod;
  border-radius: 50%;
  box-shadow: 10px 10px 14px 28px rgba(248,248,248,1);
  display: none;
}
@media(max-width:640px){
  .fa-poo{
    box-shadow: 10px 10px 7px 14px rgba(248,248,248,1);
  }
}

#medalOfHonor {
  font-size: 4.5rem;
}
/* Main */

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

@media(max-width:640px){
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    height: 85vh;
  }
}

#asideLeft{
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
}
@media(max-width:640px){
  #asideLeft{
    align-self: center;
    flex-direction: row;
    width: 90%;
    height: 30vh;
  }
}
#asideLeft #medalOfHonor{
  display: none;
}
#asideLeft > h2 {
  font-size: 12rem;
  margin: 1.5rem auto;
}
#asideLeft h3 {
  font-family: Roboto Condensed;
  font-size: 2rem;
  margin: 0.5rem;
  color: orange;
  text-align: center;
  
}
@media(max-width: 640px){
  #asideLeft h1{
    display: none;
  }
  #asideLeft > h2{
    font-size:8rem;
    width: 30vw;
  }
  #asideLeft .stars {
    display: none;
  }
  #asideLeft table{
    width: 30vw;
  }
  #asideLeft #order {
    display: none;
  }
}
#asideLeft table tbody tr td{
  font-size: 2rem;
  text-align: center;
}
@media(max-width: 640px){
  #asideLeft table tbody tr td{
    font-size: 1.5rem;
  }
}

#main {
  position: relative;
  width: 30vw;
  max-width: 360px;
  max-height: 75vh;
}
@media(max-width: 640px){
  #main{
    transform: rotate(90deg);
  }
}
#main img {
  background-repeat: no-repeat;
  position: relative;
  width: 30vw;
  max-width: 360px;
  max-height: 75vh;
  border-radius: 10%;
}
@media(max-width:640px){
  #main img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }
}
#frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  #frame table{
    position: relative;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 7%;
    background-image: url('../images/Fondo-pantalla.jpg');
    background-size: cover;
  }
  @media(max-width:640px){
    #frame table{
      margin: 0;
    }
  }
  #mobile-menu tbody{
    height: 58vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(max-width: 640px){
  #mobile-menu tbody{
    flex-direction: column-reverse;
  }
}
#mobile-menu tbody tr {
  display: flex;
  justify-content: space-around;
}
#mobile-menu tbody tr td{
  font-size: 3rem;
}
#mobile-menu tbody tr td .fa-codepen {
  color: whitesmoke;
}
@media(max-width:640px){
  #mobile-menu tbody tr td{
    transform: rotate(-90deg);
    font-size: 2rem;
  }
}
@media(min-width:992px){
  #mobile-menu tbody tr td{
    font-size: 4.5rem;
  }
}

#mobile-menu tbody tr td a{
  color: grey;
}
#asideRight {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media(max-width: 640px){
  #asideRight{
    flex-direction: row;
    width: 67%;
  }
}
#stall{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 30vw;
}
#stall th{
  font-size: 2rem;
  width: 100%;
}
#stall tbody tr{
  display: flex;
}
#stall tbody tr td{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 15vw;
  max-width: 12rem;
}
#seize{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 30vw;
}
#seize th{
  width: 30vw;
  font-size: 2rem;
}
#seize tbody tr{
  display: flex;
}
#seize tbody tr td{
  display:flex;
  justify-content: center;
  font-size: 2rem;
  width: 15vw;
  max-width: 12rem;
}